// Place all the styles related to the api/Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.listing-form-container {

  padding: 20px;
  width: 33%
}

#lfb {
  background-color: #008489;
  border-color: #008489
}

.greeting {
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
  font-size: 20px;
}
