// Place all the styles related to the api/Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.listing-form-container {

  width: 80%;
}

#lfb {
  background-color: #008489;
  border-color: #008489;
  width: 50%;
}
.demo3{
  visibility: hidden;
}
.demo2{
  visibility: visible;
}

#rhs{
  width: 50%;
}
.price{
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: bold;
}


.greeting {
  font-family: 'Caveat Brush', cursive;
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
  font-size: 30px;
  color: #484848;;
}

#leftside{
  width: 40%;
  margin-left: 10%;
  float: left;
}

#backTag {
  font-family: 'Caveat Brush', cursive;
  font-size: 50px;
  font-weight: normal;
}

#carebnb {
  color: #ff5a5f;
  font-size: 50px;
  display: inline-flex;
}

#guess {
  background: rgb(229,250,249);
  width: 20%;
  height: 25%;
  border: 1px solid rgb(178,241,236);
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 10%;
  margin-right: 6%;
  border-bottom-left-radius:  4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius:  4px;
  border-top-right-radius: 4px;

}
.details{
  margin-top: 2%;
  display: inline;
  width: 20%;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

#botholder{
  display: flex;
  flex-direction: row;
  width: 100%;
}

#house{
  height: 10%
}

.priceguess{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

#bulb{
  width: 20%;
  height: 60%;
  display: block;
}
div#background {
  background: url("https://static1.squarespace.com/static/55c1d8bce4b081fdca9dc5fd/t/573c76938259b5b384b45f7e/1463580310514/Individuals.jpg?format=1500w");
  background-size: cover;
  height: 50%;
  width: 100%;
  text-align: center;
  align-items: center;
  line-height:  150px;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1000;
}
#holder{
  margin-bottom: 30%;
}

#pagediv{
  padding-top: 1%;
}
