input:focus{
  outline: none;
}
.rheostat{
  margin-top: 2.5%;
  width: 35%;
  padding-left: 8%;
  padding-right: 8%;
}
.rheostat-container{
  width: 100%;
  display: flex;

}
.rheostat-container span{
  margin-left: 4%;
  margin-right: 4%;
}
.rheostat-horizontal {
  height: 24px;
}
.loader{
  width: 100%;
  height: 400px;
  text-align: center;
  margin-top: 15%;
}
.loader img{
  width: 150px;
  height: 150px;
}

.rheostat-horizontal .rheostat-background {
  height: 15px;
  top: 0px;
  width: 100%;
}

.rheostat-horizontal .rheostat-progress {
  height: 13px;
  top: 2px;
}

.rheostat-handle {
  margin-left: -12px;
  top: -5px;
}

.rheostat-horizontal .rheostat-handle:before,
.rheostat-horizontal .rheostat-handle:after {
  top: 7px;
  height: 10px;
  width: 1px;
}

#searchform{
  font-family: "Noto sans", sans-serif;
}
#searchform input{
  font-size: 12px;
}

.rheostat-horizontal .rheostat-handle:before {
  left: 10px;
}
.rheostat {
}

.rheostat-background {

  position: relative;
}

.rheostat-progress {
  background-color: pink;
  position: absolute;
}

.rheostat-handle {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 20%;
  height: 24px;
  outline: none;

  width: 24px;
}

.rheostat-handle:before,
.rheostat-handle:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #dadfe8;
}
.rheostat-horizontal .rheostat-handle:after {
  left: 13px;
}
#map-container{
  width: 500px;
  height: 500px;
  margin-top: 60px;
  margin: 10px;
  right: 0px;

}
#maprhs{
  width: 100%;
}

#searchpage{
  display: flex;
  flex-direction: column;

}

#innerscroll{
  display: flex;
  flex-flow: wrap;
}

.nav-links {
  height: 61px;
  box-sizing: border-box;
  color:  rgb(72, 72, 72);
  display:  inline-block;
  width:  100%;
  white-space: nowrap;
}
.container {
  margin: 0 auto;
  padding: 40px;
  width: 70%;
  color: black;
  background: white;
}
.container h3{
  margin-left: -3%;
  color: #484848;
}
.homeinfocontainer {
  align-items: center;
  margin: 0 auto;
  width: 70%;
  color: black;
  background: white;
  margin-left: 15%;
}
.homeinfocontainer h3{
  margin-left: -3%;
  color: #484848;
}
.slick-track{
  height: 250px;
}

.star{
  width: 10px;
  height: 10px;
  margin: 0px;
}
.starcontainer{
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}
.starcontainer2{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

}
.pic{
  margin-left: 0px;
  margin-right: 0px;
}
.pic img{
  width: 100%;
  height: 100%;
}
#rhs{
  height: 100%;
  width:50%;
}
h3{
  font-family: "Noto sans", sans-serif;
}
#searchContainer{
  width: 75%;
  height: 75px;
  align-self: center;
  margin-left: 12.5%;
  margin-bottom: 5%;
  border: 1px solid lightgrey;
  border-bottom-left-radius:  4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius:  4px;
  border-top-right-radius: 4px;
  display: flex;
  vertical-align: middle;
}
#when{
  width: 35%;
  align-items: center;
  vertical-align: center;
  margin-left: 3%;
  height: 100%;
  border-right: 1px solid lightgrey;
}

#searchicon{
  height: 50%;
  width: 60%;
  background: #FF5A5F;
  border-bottom-left-radius:  4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius:  4px;
  border-top-right-radius: 4px;
  margin-right: 12%;
  align-items: center;
  height: 32%;
  padding: 4%;
  cursor: pointer;
}
.shadow {
  -moz-box-shadow:    0px 0.5px 0px 0px #ccc;
  -webkit-box-shadow: 0px 0.5px 0px 0px #ccc;
  box-shadow:         0px 0.5px 0px 0px #ccc;
}

#searchicon span{
  font-family: 'Roboto', sans-serif;
  color: white;
  height: 100%;
  font-size: 120%;

}
#guests{
  display: flex;
  vertical-align: center;
  margin-left: 3%;
  height: 100%;
  align-items: center;
}
#bookings1{
  display: flex;
  flex-wrap: wrap;
}
#listingbookingwidth{
  width: 25%;
}

#guestsrhs{
  display: flex;
  align-items: flex-start;
  height: 100%;
}

#guestsrhs label{
  width: 33%;
  font-weight: bold;
  display: block;
  -webkit-font-smoothing: antialiased;
  font-family: "Noto sans", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #484848;
  margin-top: 7%;
}
#guestsrhs input{
  margin-top: 10px;
  font-size: 17px;
  font-family: "Noto sans", sans-serif;
  width: 100%;
  border: 0px solid;
  margin-right: 5%;
  color: #484848;
}

#guests div{
  display: flex;
  flex-direction: column;
}
#guests input{
  border: 0px;
}
#when div{
  display: flex;
  flex: auto;
}
#when label{
  display: block;
  width: 33%;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-family: "Noto sans", sans-serif;
  font-size: 15px;
  color: #484848;
  margin-top: 2.5%;
}

#where{
  width: 30%;
  align-items: center;
  vertical-align: center;
  margin-left: 3%;
  height: 100%;
  border-right: 1px solid lightgrey;
}
#where input{
  margin-top: 10px;
  font-size: 17px;
  font-family: "Noto sans", sans-serif;
  width: 98%;
  border: 0px solid;
  z-index: -100;
  margin-right: 5%;
  color: #484848;

}
#when input{
  margin-top: 10px;
  font-size: 17px;
  font-family: "Noto sans", sans-serif;
  width: 48%;
  border: 0px solid;
  z-index: -100;
  color: #484848;

}
#where label{
  width: 33%;
  font-weight: bold;
  display: block;
  -webkit-font-smoothing: antialiased;
  font-family: "Noto sans", sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #484848;
  margin-top: 4%;
}


.slick-prev:before {
content: "<";
color: gray;
font-size: 50px;
margin-left: -500%;
font-family: "Noto sans", sans-serif;
line-height: 0.5;
}

.slick-next:before {
  font-family: "Noto sans", sans-serif;
content: ">";
color: gray;
font-size: 50px;
margin-right: -500%;
line-height: 0.5;
}
#navimg{
width: 25px;
height: 25px;
border-radius: 50%;
display: block;
border: 3px solid #008489;;
margin-left: 3%;
margin-top: 12px;
margin-right: 20px;
}
.slick-slide img{
  display: inline;
}
.nav-container{
  display: flex;
  height: 61px;
  flex-wrap: nowrap;
  align-items: center;
}
.nav-container-border{
  display: flex;
  height: 61px;
  border-bottom: 1px solid lightgrey;
}

.leftContainer {
  padding-top: -0.5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-left: 1.5%;
}
#greet{
  width: 80%;
  font-family: 'Roboto', sans-serif;
  color: #484848;
  font-size: 40px;
  padding-left: 12%;
  padding-bottom: 4%;
  font-weight: bolder;
  padding-top: 5%;
  text-align: left;
}

#CareBnB{
  font-family: 'Noto sans', sans-serif;
  color: #FF5A5F;
}
#verybot{
  width: 80%;
  align-items: center;
  align-content: center;
  padding-left: 10%;
  padding-bottom: 1%
}

#footermargin{
  margin-top: 50px;
}
#footermargin hr{
  margin: 0px;
}

.footercontainer{
  display: flex;
  width: 100%;
  align-items: center;
  align-content: space-around;
}
.FooterSec{
  padding-right: 10%;
  list-style: none;
  margin-left: 10%;
}
#inc{
  padding-left: 10%;
  padding-right: 60%;
}
.SecItem{
  color: grey;
  font-family: 'Roboto', sans-serif;
}
.SecHead{
  color: black;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bolder;
}

#dropdown{
  width: 200px;
  // margin-right: 30%;
  // margin-left: 100%;
}

#searchlhs{
  display: flex;
  width: 150%;
  float:left;
  align-items: flex-start;
  flex-flow: wrap;
  overflow: scroll;
}
#footlhs {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  width: 60%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%
}

.list{
  width: 100%;
  height: 70%;
  cursor: pointer;
}
.slick-slide {
    margin: 0 27px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -27px;
    height: 299px;
  }
.homebox{
  font-family: "Noto sans", sans-serif;
  padding: 0px;
  height: 300px;
}
.country-selector {
  width: 100%;
  margin: 5%;
  display: block;
  padding: 20px;
  color: black;
}

#infotitle{
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: 484848;
  display: block;
    -webkit-font-smoothing: antialiased;
}

.link {
  cursor: pointer;
  text-decoration: none;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  margin-left: 15%;
  border-color: #c4c4c4;
  background: white;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
  background: transparent;

}

span#logotag{
  font-family: "Snell Roundhand", cursive;
  font-weight: bolder;
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  float: left;
}


.logo.link{
  float: left;
}
.slick-slide img {
  cursor: pointer;
}
.vid {
  width: 90%;
  height: 20%;
}
#searchform{
  margin-top: -11px;
  margin-left: -20px;
}
#searchform input{
  width: 25%;
  height: 40px;
  margin: 0px;
  color: #484848;
}
#searchsubmit{
  height: 40px;
  margin: 0px;
  color: white;
  margin-top: 10px;
}
input[type=submit] {
    padding:15px 30px;
    background:#008489;
    border:10px none;
    cursor:pointer;
    -webkit-border-radius: 10px;
    border-radius: 4px;
    color:white;
}
.listphoto{
  width: 290px;
  height: 200px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.searchpagedivbox{
  cursor: pointer;
  width: 290px;
  background: #e5faf9;
  margin-bottom: 25px;
  margin-top: 25px;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.searchpagedivbox span{
  display: block;
  padding-left: 10px;
}
.searchdivinfo{
  width: 100%;
}
.searchinfotitle{
  width: 100px;
}
#map{
  height: 100%;
}
#mappage{
  width: 100%;
  display: flex;
}
.rheostat-container{
  border: 1px solid lightgrey;
  height: 44px;
  align-items: center;
  vertical-align: center;
  color: #484848;
}
.date{
  padding-bottom: 0.2%;
  margin-right: 0px;
}
div.vidcontainer {
  text-align: center;
  margin-top: 20px;
}

//
// li {
//     display: inline;
//     margin-left: 50px;
//     border-color: #c4c4c4;
//     background: white;
//     font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
//     font-weight: normal;
//     font-size: 14px;
// }

#searchform{
  position: relative;
  top: 0px;
  width: 100%;
  height: 20px;
  margin-bottom: 40px;
}
#searchform form{
  position: relative;
  width: 100%;
  display: flex;
  margin: 10px;
}
img#vid{
  width: 25px;
  height: 25px;;

  display: inline;
}
#video_box{
    float:left;
}
#video_overlays {
  position:absolute;
  float:left;
  width:80%;
  height:20%;
  background-color:#000;
  z-index:300000;
  opacity: 0.4;
}
#logoContainer{
  width: 68px;
  text-align: center;
  margin: 0px;
  cursor: pointer;
  padding-top: 0.5%;
}
#search{
  height: 61px;
  width: 63%;
  margin-right: 13%;
}
.searchHidden {
  height: 61px;
  width: 100%;
  visibility: hidden;
  font-size: 20px;
  color: #484848;
}
.searchShow {
  height: 97%;
  width: 100%;
  visibility: visible;
  border-top: 0px;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  font-size: 20px;
  color: #484848;
}

hr {
  display: block;
  border-style: inset;
  border-width: 0.5px;
  opacity: 0.5;
  border-top-color: rgb(220, 224, 224);
}
