.nav-links {
  box-sizing: border-box;
  color:  rgb(72, 72, 72);
  display:  inline-block;
  width:  100%;
  height: auto;
  margin-bottom: 30px;
  white-space: nowrap;
}

.link {
  cursor: pointer;
  text-decoration: none;
  border-color: #c4c4c4;
  background: white;
  color: #484848;
  display: inline-block;
  margin-left: 2%;
  border-color: #c4c4c4;
  background: white;
  font-family: cursive,"Lasiver",Helvetica,Arial,sans-serif;
  font-weight: normal;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;

}

span#logotag{
  font-family: "Snell Roundhand", cursive;
  font-weight: bolder;
  font-size: 20px;
}

a#bahost {
  margin-left: 65%
}

.vid {
  width: 90%;
  height: 20%;
}

div.vidcontainer {
  text-align: center;
}

//
// li {
//     display: inline;
//     margin-left: 50px;
//     border-color: #c4c4c4;
//     background: white;
//     font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
//     font-weight: normal;
//     font-size: 14px;
// }


img#vid{
  width: 25px;
  height: 25px;;
  padding-left: 30px;
  padding-top: 10px;
  display: inline;
}
#video_box{
    float:left;
}
#video_overlays {
  position:absolute;
  float:left;
  width:80%;
  height:20%;
  background-color:#000;
  z-index:300000;
  opacity: 0.4;
}
